.top-div {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  position: relative;

}
body {
  margin: 0px;
  background-color: #171717;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  font-size: 100px;
  color: white;
  background: -webkit-linear-gradient(#ffe6e6, #ffabe1, #a685e2, #6155a6);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 32px;
  font-family: 'Amatic SC', cursive;

}
.aboutme {
background: -webkit-linear-gradient(#ffe6e6, #ffabe1, #a685e2, #6155a6);
  font-size: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 50px;
}
